<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
    <display-name>iFaxInAdmin</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath*:/applicationContext.xml,
            classpath*:/applicationContext-shiro.xml
        </param-value>
    </context-param>
    <context-param>
        <param-name>spring.profiles.default</param-name>
        <param-value>production</param-value>
    </context-param>


    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>messages</param-value>
    </context-param>

    <!--用于,来获得 request,例: HttpServletRequest request = ((ServletRequestAttributes)RequestContextHolder.getRequestAttributes()).getRequest();   -->
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
    <!--用ContextLoaderListener加载ShiroFilterFactoryBean的spring配置文件-->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <!--UTF-8编码-->
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--******************************************************************* -->
    <!-- 1.shiro 配置 -->
    <!--******************************************************************* -->
    <filter>
        <filter-name>shiroFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <init-param>
            <param-name>targetFilterLifecycle</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>shiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <!--******************************************************************* -->
    <!-- 2.Spring MVC(控制层)配置 -->
    <!--******************************************************************* -->
    <servlet>
        <servlet-name>springServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath*:/spring-mvc.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!--注意!! spring mvc 只拦截 无后缀和 .ajax后缀请求. -->
    <servlet-mapping>
        <servlet-name>springServlet</servlet-name>
        <url-pattern>/</url-pattern><!--无后缀,标识页面请求(这些请求以进入某个页面,或动作为主 ) -->
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>springServlet</servlet-name>
        <url-pattern>*.ajax</url-pattern><!--标识ajax动作请求(此后缀,标识这些请求是ajax动作请求) -->
    </servlet-mapping>


    <!--******************************************************************* -->
    <!-- 容器的资源配置 -->
    <!--******************************************************************* -->
    <!-- 可直接访问这些静态 资源 文件 -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/assets/*</url-pattern>
    </servlet-mapping>




    <!-- 配置状态页面 -->
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/page/commons/error/500.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/page/commons/error/500.jsp</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/page/commons/error/401.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/page/commons/error/404.jsp</location>
    </error-page>

    <!-- 配置欢迎页面 url,不能有后缀名.不然会认为是文件.而去访问文件报404 -->
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>

    <!-- 其他的一些配置 -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <!-- jsp设置: 所有jsp 导入 /commons/taglibs.jsp   -->
    <jsp-config>
        <jsp-property-group>
            <description>所有jsp标签库导入,一些公共变量定义</description>
            <url-pattern>*.jsp</url-pattern>
            <el-ignored>false</el-ignored>
            <page-encoding>UTF-8</page-encoding>
            <scripting-invalid>false</scripting-invalid>
            <include-prelude>/page/commons/taglibs.jsp</include-prelude>
        </jsp-property-group>
    </jsp-config>
</web-app>
